body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

.comment-box{
  /* width: 100%; */
  background-color: white;
  border-radius: 20px;
  height: 300px;
  overflow-y: scroll;
  font-size: 23px;
  text-shadow: 1px 0px black;
}

.author{
  font-size: 26px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px black;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: underline;

  display: block;

}

.comment-body{
font-style: italic;
color: black;




}
